<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="comp.magnus.reportslisteners.ExtentReporterNG"/>
</listeners>
  <test thread-count="5" name="Login Verification">
    <classes>
      <class name="comp.magnus.test.MagnusTest"/>
    </classes>
  </test> <!-- Login Verification -->
</suite> <!-- Suite -->
